<h1>Login</h1>
<form action="/identify" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <button type="submit">Login</button>
</form>
<form action="/REGISTER" method ="GET">
  <div>
    <p> Not a user? </p>
    <button type="submit">Register</button>
  </div>
</form>
